<div class="acciones-container">

    <h2>¿Qué quieres hacer hoy?</h2>

    <div class="cards">

        <!-- AGREGAR -->
        <div class="card agregar">
            <div class="card-icon">
                <i class="fas fa-plus-circle"></i>
            </div>

            <div class="card-content">
                <h3>AGREGAR</h3>
                <p>Añade nuevos productos a tu despensa fácilmente.</p>
            </div>

            <button class="btn-arrow">
                <a routerLink="/agregar"> → </a>
            </button>
        </div>

        <!-- RECETAS -->
        <div class="card recetas">
            <div class="card-icon">
                <i class="fas fa-plus-circle"></i>
            </div>

            <div class="card-content">
                <h3>RECETAS</h3>
                <p>Descubre recetas deliciosas según lo que tienes disponible.</p>
            </div>

            <button class="btn-arrow">
                <a routerLink="/recetas"> → </a>
            </button>
        </div>

        <!-- VER DESPENSA -->
        <div class="card despensa">
            <div class="card-icon">
                <i class="fas fa-box-open"></i>
            </div>

            <div class="card-content">
                <h3>VER DESPENSA</h3>
                <p>Consulta todos los productos que tienes guardados.</p>
            </div>

            <button class="btn-arrow">
                <a routerLink="/despensa"> → </a>
            </button>
        </div>

        <!-- RETIRAR -->
        <div class="card retirar">
            <div class="card-icon">
                <i class="fas fa-trash-alt"></i>
            </div>

            <div class="card-content">
                <h3>RETIRAR</h3>
                <p>Retira productos que ya no tienes o consumiste.</p>
            </div>

            <button class="btn-arrow">
                <a routerLink="/retirar"> → </a>
            </button>
        </div>

    </div>

</div>