<div class="grafico-card">

  <div class="grafico-header">

    <div>
      <p class="subtitulo">
        ANÁLISIS DE TU DESPENSA
      </p>

      <h2>Despensa</h2>
    </div>

  </div>

  <div class="leyenda">

    <div class="item-leyenda">
      <span
        class="circulo fresco">
      </span>

      Fresco
    </div>

    <div class="item-leyenda">
      <span
        class="circulo proximo">
      </span>

      Próximo a vencer
    </div>

    <div class="item-leyenda">
      <span
        class="circulo vencido">
      </span>

      Vencido
    </div>

  </div>

  <div class="contenedor-grafica">

    <canvas id="graficaDespensa">
    </canvas>

  </div>

</div>